<section>
  <div class="container">
    <p [routerLink]="[pageMode.name, 'qwerty']">tests</p>
  </div>
</section>
<!--  <div>-->
<!--    <button *ngIf="isConstructor" mat-raised-button [routerLink]="['/testsConstructor']">-->
<!--      <mat-icon>settings</mat-icon> Конструктор тестов-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="accordion">-->
<!--    <mat-accordion class="headers-align">-->
<!--      <mat-expansion-panel *ngFor="let userTest of userTests">-->
<!--        <mat-expansion-panel-header>-->
<!--          <mat-panel-title>-->
<!--            {{ userTest.name }}-->
<!--          </mat-panel-title>-->
<!--          <mat-panel-description>-->
<!--            {{userTest.questionCount}} вопросов-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->

<!--        время прохождения 00 минут-->
<!--        <button class="constructor-btn" mat-raised-button [routerLink]="['/viewTest', userTest.idTest]">-->
<!--          Пройти тест-->
<!--        </button>-->
<!--      </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--  </div>-->
