<!--<main class="main">-->
<aside class="sidebar">
  <nav class="nav">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/">Главная</a>
      </li>
      <li routerLinkActive="active"><a routerLink="about">Обо мне</a></li>
      <li routerLinkActive="active"><a routerLink="tests">Тесты</a></li>
      <li routerLinkActive="active"><a routerLink="constructor/active-tests">Конструктор</a></li>
    </ul>
  </nav>
</aside>

<router-outlet></router-outlet>

<!--</main>-->
